{% extends "_layouts/cp" %}

{% if isUserHelpUs %}
    {% do view.registerAssetBundle("infoservio\\mailmanager\\assetbundles\\logrocket\\LogRocketAssetBundle") %}
{% endif %}

{% do view.registerAssetBundle("infoservio\\mailmanager\\assetbundles\\template\\main\\TemplateAssetBundle") %}
{% do view.registerAssetBundle("infoservio\\mailmanager\\assetbundles\\sidebar\\SidebarAssetBundle") %}
{% set title = "Changes Manager Templates"|t('app') %}
{% block sidebar %}
    <div class="sidebar-header">
        <h3>Sidebar Menu</h3>
    </div>

    <!-- Sidebar Links -->
    <ul class="list-unstyled components">
        <li class="sidebar-item"><a href="/admin/mail-manager">Template Manager</a></li>
        <li class="active sidebar-item"><a href="/admin/mail-manager/changes">Template Changes Manager <i class="sidebar-icon material-icons">keyboard_arrow_right</i></a></li>
    </ul>
{% endblock %}
{% block content %}

    <table id="template-table" class="table table-hover">
        <thead>
        <tr>
            {% for col in columns %}
                <th>{{ col }}</th>
            {% endfor %}
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for change in changes %}
            <tr>
                <th scope="row">{{ change.id }}</th>
                <td>{{ (change.getTemplate()).slug }}</td>
                <td>{{ change.getUser().username }}</td>
                <td>{{ change.dateCreated }}</td>
                <td>{{ change.dateUpdated }}</td>
                <td class="icons">
                    <a href="/admin/mail-manager/changes/view?id={{ change.id }}" class="glyphicon glyphicon-eye-open view-icon" title="View"></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}