{% extends "_layouts/cp" %}
{% do view.registerAssetBundle("infoservio\\mailmanager\\assetbundles\\template\\main\\TemplateAssetBundle") %}
{% do view.registerAssetBundle("infoservio\\mailmanager\\assetbundles\\sidebar\\SidebarAssetBundle") %}
{% set title = "Mail Manager Templates"|t('app') %}
{#{% set iconUrl = view.getAssetManager().getPublishedUrl('@test/test/assetbundles/testcpsection/dist', true) ~ '/img/Test-icon.svg' %}#}
{% block sidebar %}
    <div class="sidebar-header">
        <h3>Sidebar Menu</h3>
    </div>

    <!-- Sidebar Links -->
    <ul class="list-unstyled components">
        <li class="active sidebar-item"><a href="/admin/mail-manager">Template Manager <i class="sidebar-icon material-icons">keyboard_arrow_right</i></a></li>
        <li class="sidebar-item"><a href="/admin/mail-manager/changes">Template Changes Manager</a></li>
    </ul>
{% endblock %}
{% block content %}
    <a href="/admin/mail-manager/create" class="create-template-link">Create Template</a>
    <table id="template-table" class="table table-hover">
        <thead>
        <tr>
            {% for col in columns %}
                <th>{{ col }}</th>
            {% endfor %}
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for template in templates %}
            <tr>
                <th scope="row">{{ template.id }}</th>
                <td>{{ template.name }}</td>
                <td>{{ template.slug }}</td>
                <td>{{ template.getUser().username }}</td>
                <td>{{ template.dateCreated }}</td>
                <td>{{ template.dateUpdated }}</td>
                <td class="icons">
                    <a href="/admin/mail-manager/view?id={{ template.id }}" class="glyphicon glyphicon-eye-open" title="View"></a>
                    <a href="/admin/mail-manager/edit?id={{ template.id }}" class="glyphicon glyphicon-pencil space" title="Edit"></a>
                    <a href="" class="glyphicon glyphicon-trash delete-template" title="Delete" value="{{ template.id }}"></a>
                    {#<form action="mail-manager/delete" method="post">#}
                        {#<button type="submit" id="delete-template" value="{{ template.id }}" class="btn-link"><span class="glyphicon glyphicon-trash"></span></button>#}
                    {#</form>#}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}